extends layout.pug

block variables
  -
    const getFormatStringDate = (dateString) => {
      const date = new Date(dateString);
      const piecesDate = [
        `${date.getDate()}`.padStart(2, `0`),
        `${date.getMonth() + 1}`.padStart(2, `0`),
        `${date.getHours()}`.padStart(2, `0`),
        `${date.getMinutes()}`.padStart(2, `0`),
      ];

      return `${piecesDate[0]}.${piecesDate[1]}.${date.getFullYear()}, ${piecesDate[2]}:${piecesDate[3]}`;
    };

block content

  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each item of categories
          if item.count > 0
            if category.name === item.name
              a.themes__item-link.themes__item-link--active
                | #{item.name}
                sup #{item.count}
            else
              li.themes__item
                a.themes__item-link(href=`/articles/category/${item.id}`)
                  | #{item.name}
                  sup #{item.count}

    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
          each item in articlesByCategory
            li.preview__item
              ul.preview__breadcrumbs(style='flex-wrap: wrap;')
                each category in item.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
              if (item.picture)
                .preview__background
                  img.preview__background-image(src=`/img/${item.picture}` alt=`${item.title}` width='460' height='240')
              time.preview__time(datetime=`${item.createdAt}`) #{getFormatStringDate(item.createdAt)}
              h3.preview__name
                a.preview__name-link(href=`/articles/${item.id}`) #{item.title}
              p.preview__text #{item.announce}
              a.preview__comment(href=`/articles/${item.id}`)
                | Комментарии
                span.preview__cloud
                  b.preview__comment-count #{item.comments.length}
      +pagination(page, totalPages, 2, `?`)

