extends layout.pug

block variables
  -
    const getFormatStringDate = (dateString) => {
      const date = new Date(dateString);
      const piecesDate = [
        `${date.getDate()}`.padStart(2, `0`),
        `${date.getMonth() + 1}`.padStart(2, `0`),
        `${date.getHours()}`.padStart(2, `0`),
        `${date.getMinutes()}`.padStart(2, `0`),
      ];

      return `${piecesDate[0]}.${piecesDate[1]}.${date.getFullYear()}, ${piecesDate[2]}:${piecesDate[3]}`;
    };

block content

  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each item, index in comments
          if (index === comments.length - 1)
            li.publication__list-item.publication__list-item--last
              .publication__header
                img.publication__list-image(src=`/img/${item.users.avatar}` alt='Аватар пользователя' width='20' height='20')
                b.publication__list-name #{item.users.firstName} #{item.users.lastName}
                time.publication__item-time(datetime=`${item.createdAt}`) #{getFormatStringDate(item.createdAt)}
              a.publication__item-text(href=`/articles/${item.articleId}`) #{item.text}
              p.publication__text-strong #{item.articles[`title`]}
              a.publication__button.button.button--close-item(href=`/my/comments/${item.id}`)
                span.visually-hidden Закрыть строку списка
          else
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`/img/${item.users.avatar}` alt='Аватар пользователя' width='20' height='20')
                b.publication__list-name #{item.users.firstName} #{item.users.lastName}
                time.publication__item-time(datetime=`${item.createdAt}`) #{getFormatStringDate(item.createdAt)}
              a.publication__item-text(href=`/articles/${item.articleId}`) #{item.text}
              p.publication__text-strong #{item.articles[`title`]}
              a.publication__button.button.button--close-item(href=`/my/comments/${item.id}`)
                span.visually-hidden Закрыть строку списка
