extends layout.pug

block variables
  -
    const getFormatStringDate = (dateString) => {
      const date = new Date(dateString);
      const piecesDate = [
        `${date.getDate()}`.padStart(2, `0`),
        `${date.getMonth() + 1}`.padStart(2, `0`),
        `${date.getHours()}`.padStart(2, `0`),
        `${date.getMinutes()}`.padStart(2, `0`),
      ];

      return `${piecesDate[0]}.${piecesDate[1]}.${date.getFullYear()}, ${piecesDate[2]}:${piecesDate[3]}`;
    };

block content

  main
    section.search-page

      if search
        if results.length > 0
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(action='/search' method='get')
                label
                  input(type='search' name='search' placeholder='Что ищем?' value= `${search}`)
                button.search__button.button.button--transparent(type='submit') Найти

              each result in results
                .search__result
                  time.search__date(datetime=`${result.createdAt}`) #{getFormatStringDate(result.createdAt)}
                  a.search__link(href=`/articles/${result.id}`) #{result.title}
        else
          .search-page__wrapper.search-page__wrapper--empty
            h1 Поиск
            .search.search-page__form
              form(action='/search' method='get')
                label
                  input(type='search' name='search' placeholder='Что ищем?' value= `${search}`)
                button.search__button.button.button--transparent(type='submit') Найти

              p.search-page__empty Ничего не нашлось

      else
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='/search' method='get')
              label
                input(type='search' name='search' placeholder='Что ищем?' value= '')
              button.search__button.button.button--transparent(type='submit') Найти
